[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
vaex = "*"
pillow = "*"
psutil = "*"
pandas = "*"
numpy = "*"
gensim = "*"
cython = "*"
torchbiggraph = "==1.dev1"
jupyter = "*"
networkx = "*"
scikit-learn = "*"
blackcellmagic = "*"
black = "==19.3b0"
python-decouple = "*"
requests = "*"
asyncio = "*"
nest-asyncio = "*"
aiohttp = "*"
bs4 = "*"

[packages]

[requires]
python_version = "3.6"
