[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
vaex = "*"
pillow = "*"
psutil = "*"
pandas = "*"
numpy = "*"
gensim = "*"
cython = "*"

[packages]

[requires]
python_version = "3.6"
